.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.col {
  height: 8vh;
  width: 33.33%;
  font-size: larger;
  float: left;
  background-color:#61dafb;
}

.col:hover {
  background-color: azure;
}


#softkey-left {
  text-align: left;
  color: gray;
}
#softkey-centre {
  text-align: center;
  color:black;
}
#softkey-right {
  text-align: right;
  color: gray;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
